*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
}
header{
    display: flex;
    justify-content: flex-end;
}
header button{
    margin: 10px 5px;
    padding: 5px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
    height: 600px;
}
.utente{
    height: 150px;
    width: calc(100% / 6);
    border: 3px solid black;
    position: relative;
    
}
.utente img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    
}
.utente span{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 7px;
}
.flex{
    display: flex;
}
.foot{
    height: 100px;
    background-color: gray;
    justify-content: space-around;
}

.foot div{
    margin-top: 20px;
    height: 60px;
    width: 90px;
}